<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>whatever.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C94C5AE31B9B2EC0006D82C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C94C5AFB1B9B2EC1006D82C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C94C5B061B9B2EC1006D82C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
